---
import "../styles/base.css"
import "../styles/global.css"
import "../styles/normalise.css"

import Head from "../layouts/head.astro"
import Header from "../layouts/header.astro"
import Footer from "../layouts/footer.astro"
---

<html lang="en">
	<Head title="shop.tstfie.ch"/>
	<body>
		<div class="padding">
		<Header>
		<a href="https://tstfie.ch/" class="navigation">Home</a>
		<div class="projects-nav">
			<a href="https://tstfie.ch/#projects" class="navigation view-projects">View projects</a>
			<div class="projects-links">
			<a href="https://tstfie.ch/designs" class="navigation">Designs</a>
			<a href="https://tstfie.ch/music" class="navigation">Music</a>
			</div>
		</div>
		</Header>
			<h1>shop.tstfie.ch</h1>
			<p>soon</p>
			<Footer/>
		</div>
	</body>
</html>