.sneaker-design {
  border-radius: 1%;
  width: 100%;
}

.collection-scroll {
  column-gap: 280px;
  row-gap: 280px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.design-wrapper {
  column-gap: 4px;
  row-gap: 4px;
  flex-flow: column;
  font-size: 20px;
  line-height: 20px;
  display: flex;
}

.collection {
  column-gap: 80px;
  row-gap: 80px;
  flex-flow: column;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 80px;
  display: flex;
}

.collection-header {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 48px;
}

.collection-header h1{
  font-size: 40px;
}

.subheader {
  font-size: 28px;
  line-height: 40px;
}

.collection-tracklist {
  text-align: right;
  position: sticky;
  top: 140px;
}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-header h1,
.project-header p {
  margin: 0;
}

@media screen and (max-width: 991px) {
  .collection-scroll {
    column-gap: 256px;
    row-gap: 256px;
  }

  .collection {
    column-gap: 56px;
    row-gap: 56px;
    padding-bottom: 56px;
  }

  .collection-tracklist {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .collection-scroll {
    column-gap: 200px;
    row-gap: 200px;
  }
}

@media screen and (max-width: 479px) {
  .collection-header {
    display: none;
  }

  .collection-scroll {
    column-gap: 128px;
    row-gap: 128px;
  }

  .collection-header h1{
  font-size: 36px;
  }
}