.cta {
  column-gap: 16px;
  row-gap: 16px;
  -webkit-backdrop-filter: blur(.6px);
  backdrop-filter: blur(.6px);
  color: #262626;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #000;
  border-radius: 999px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  text-decoration: none;
  display: inline-flex;
}

.cta.primary.dropdown {
  position: relative;
  z-index: 3;
  background-color: #262626;
  backdrop-filter: blur(.8px)
}

.cta.primary.dropdown.option {
  display: none;
  padding-left: 32px;
  column-gap: 16px;
  row-gap: 16px;
  -webkit-backdrop-filter: blur(.6px);
  backdrop-filter: blur(.6px);
  color: #262626;
  cursor: pointer;
  background-color: #ededed;
  border: 1px solid #000;
}

.cta.primary.dropdown.option:hover {
  display: none;
  filter: brightness(92%);
}

.cta.primary.dropdown.option.a {
  left: -36px;
  z-index: 2;
}

.cta.primary.dropdown.option.b {
  left: -72px;
  z-index: 1;
}

.cta:hover {
  backdrop-filter: brightness(92%) blur(1px);
}

.cta:active {
  background-color: #f0f0f0;
}

.cta.primary {
  backdrop-filter: invert(88%) blur(.8px);
  color: #ededed;
}

.cta.primary:hover {
  -webkit-backdrop-filter: brightness(76%) invert(92%) blur(1px);
  backdrop-filter: brightness(76%) invert(92%) blur(1px);
}

.cta.primary:active {
  background-color: gray;
}

.cta.primary.gold {
  color: #da0;
}

.cta.disabled {
  opacity: .45;
  cursor: help;
}

.cta.disabled:hover {
  background-color: #ededed;
}

.fields-wrapper,
.contact-section,
.success-message,
.error-message {
  background-color: #0000;
}

@media screen and (max-width: 479px) {
  .footer .cta {
    padding: 4px 12px;
    font-size: 16px;
  }
  .cta {
    padding: 2px 16px;
    font-size: 20px;
    border-radius: 24px;
  }
}