.form-block {
  margin-top: 4px;
  width:100%;
}

.contact-section {
  column-gap: 12px;
  row-gap: 12px;
  flex-flow: column;
  display: flex;
  margin-bottom: 12px;
}

.fields-wrapper {
  column-gap: 12px;
  row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.input-field {
  color: #262626;
  text-transform: uppercase;
  background-color: #0000;
  border: 2px #000;
  border-bottom-style: solid;
  margin-top: 8px;
  padding: 0;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.div-block {
  column-gap: 16px;
  row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
}